<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><img src="./images/E0102_muse.png" style="width:10%;vertical-align:middle"/> <a href="#">E0102-VR</a></h1>
		</div>
		<div id="menu" style="vertical-align:middle">
			<ul>
				<li><a href="index.html" accesskey="1" title="">Home</a></li>
				<li><a href="download.html" accesskey="2" title="">Download</a></li>
				<li><a href="manual.html" accesskey="3" title="">User manual</a></li>
				<li><a href="code.html" accesskey="4" title="">The code</a></li>
				<li><a href="contact.html" accesskey="5" title="">Contact Us</a></li>
				<li><a href="https://github.com/fpavogt/E0102-VR">Github</a></li>
			</ul>
		</div>
	</div>
</div>