<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a target="_blank" href="https://www.eso.org/public/news/eso1810/"><img src="./images/app_icon.png" style="width:12%;vertical-align:middle;border:5px solid white;"/></a> E0102-VR</h1>
		</div>
		<div id="menu" style="vertical-align:middle">
			<ul>
				<li {%if page.fn=="index.html" %}class="current_page_item"{% endif %}><a href="index.html" accesskey="1" title="">Home</a></li>
				<li {%if page.fn=="download.html" %}class="current_page_item"{% endif %}><a href="download.html" accesskey="2" title="">Download</a></li>
				<li {%if page.fn=="manual.html" %}class="current_page_item"{% endif %}><a href="manual.html" accesskey="3" title="">User manual</a></li>
				<li {%if page.fn=="code.html" %}class="current_page_item"{% endif %}><a href="code.html" accesskey="4" title="">The code</a></li>
				<li {%if page.fn=="contact.html" %}class="current_page_item"{% endif %}><a href="contact.html" accesskey="5" title="">Contact Us</a></li>
				<li><a target="_blank" href="https://github.com/fpavogt/E0102-VR">Github</a></li>
			</ul>
		</div>
	</div>
</div>



