<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<!--<link href="css/fonts.css" rel="stylesheet" type="text/css" media="all" />-->

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->


<script type='text/javascript' src='./x3d/x3dom.js'> </script>
<script type='text/javascript' src='./x3d/clipplane_FPAV.js'> </script>
<link rel='stylesheet' type='text/css' href='./x3d/x3dom.css'></link> 

<!-- Call MathJax for better display of the units. A bit overkill maybe ...        -->
<script type="text/x-mathjax-config">
   MathJax.Hub.Config({ TeX: { extensions: ["mediawiki-texvc.js"] }});
</script>
<script type="text/javascript" async
   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
</script>
 
 
<style>
   x3d{
   border:2px solid darkorange;
   background:#000
   }
</style>

</head>