<div id="sidebar">
   <div id="tbox1">
      <ul class="style2">
      <li class="first">
      <h3><b>About the authors:</b></h3>
      <b>Enrico Baracaglia</b><br>
      <br>
      
      <b>Frédéric P.A. Vogt</b><br>
      <br>
      <a href="http://fpavogt.github.io"> Personal website </a> & <a href="mailto:{{ site.email }}">Email</a><br><br>
      <img src="./images/orcid_128x128.png" alt="O_logo" width=24 
      style="vertical-align:middle" class='customlogo'/> <a href="http://{{site.orcid_id}}">{{site.orcid_id}}</a><br>
      <img src="./images/icon-github.png" alt="G_logo" width=24 
      style="vertical-align:middle" /> 
      <a href="https://github.com/{{site.github_username}}">
      {{site.github_username}}</a><br>
      </li>
      </ul>
   </div>
</div>