<div id="sidebar">
   <div id="tbox1">
      <!--<h2><i>Dr. Frédéric P.A. Vogt</i></h2>-->
      <ul class="style2">
      <li class="first">
      <h3><b>About the authors:</b></h3>
      Enrico Baracaglia<br>
      <br>
      
      <a href="fpavogt.github.o">Frédéric P.A. Vogt</a><br>
      <img src="./images/orcid_128x128.png" alt="O_logo" width=24 
      style="vertical-align:middle" class='customlogo'/> <a href="http://{{site.orcid_id}}">{{site.orcid_id}}</a><br>
      <img src="./images/icon-github.png" alt="G_logo" width=24 
      style="vertical-align:middle" /> 
      <a href="https://github.com/{{site.github_username}}">
      {{site.github_username}}</a><br>
      <br>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a><br><br>
      </li>
      </ul>
   </div>
</div>